        
<div data-role="view" data-title="Banking Menu" id="listview-banking">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Banking
            <ul>
                <li data-icon="about"><a>My Accounts</a></li>
                <li data-icon="action"><a>Transfers</a></li>
                <li data-icon="recents"><a>Bill Payments</a></li>
                <li data-icon="bookmarks"><a>Statements</a></li>
            </ul>
        </li>
        <li>
            Admin
            <ul>
                <li data-icon="add"><a>Bill Accounts</a></li>
                <li data-icon="contacts"><a>Change Password</a></li>
                <li data-icon="rewind"><a>Log Out</a></li>
            </ul>
        </li>

    </ul>
</div>