

<div data-role="view" id="banking-account-view" data-layout="page-default" data-title="Accounts" data-model="app.views.accounts.viewModel">
    <div id="accounts">    
        <ul id="accounts-listview" data-type="group" data-role="listview" data-bind="source: accountsList" data-template="account-listview-template", data-style="inset"></ul>
    </div>
</div> 

<!-- View templates -->
<script type="text/x-kendo-template" id="account-listview-template">
    <a class="banking-account-link" href='views/bankingAccountView.html'>${cust} - ${name} - ${sub}<p class="balance">${balance}</p>
    </a>
</script>

