        
<div data-role="view" data-title="Banking Menu" id="listview-banking">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Banking
            <ul>
                <li data-icon="credit-card">
                    <a href='views/bankingAccountView.html'>My Accounts</a>
                </li>
                <li data-icon="export"><a>Transfers</a></li>
                <li data-icon="inbox-alt"><a>Bill Payments</a></li>
                <li data-icon="chart"><a>Statements</a></li>
            </ul>
        </li>
        <li>
            Admin
            <ul>
                <li data-icon="cog"><a>Bill Accounts</a></li>
                <li data-icon="lock"><a>Change Password</a></li>
                <li data-icon="cancel-circled2"><a>Log Out</a></li>
            </ul>
        </li>

    </ul>
</div>